
.cuerpo {
    background-color: #fff;
    color: #0f0931;
}

.container {
    width: 35rem;
}

.lista1 {
    background-color: #120849e1;
    color: #fff;
    width: 38rem;
    float: left;
    box-shadow: 2px 4px 4px rgba(31, 33, 49, 0.87);
    border-radius: 0.3rem;
}